@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(0deg, rgba(48,24,26,1) 2%, rgba(208,188,188,1) 90%);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title, .sub-title, label {
  color: #fff;
}

.title {
  font-size: 60px;
}

.sub-title {
  font-size: 24px;
  color: #ccc;
}

li {
  font-style: italic;
  padding-left: 12px;
}

.nav-bar {
  background: linear-gradient(0deg, rgba(228,4,36,0.93) 27%, rgba(88,18,18,1) 100%);
  padding: 25px;
}

label {
  font-weight: 600;
  font-size: 32px;
}

.search-bar {
  background: linear-gradient(45deg, #3335 25%, #1116 40%);
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  text-align: center;
  width: 50%;
  outline: none;
  color: #eee;
  height: 40px;
  margin-top: 10px;
}

@media (max-width: 680px) {
  .title {
    font-size: 50px;
    font-weight: 400;
  }

  .search-bar {
    width: 100%;
  }
}

